#containerJogoComFlexas{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#containerJogo{
  background-image: url(img/chao.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid rgb(61, 7, 7);
  width: 350px;
  height: 350px;
}

.containerFlexasEJogo{
  display: flex;
  align-items: center;
}

.flexa{
  width: 200px;
  height: 200px;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  color: rgb(85, 131, 15);
}

