:root {
    --corBotao: rgb(90, 180, 175);
}


*{
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    background-image: linear-gradient(to left, rgb(66, 218, 210), rgb(255, 255, 255)); 
}

.centralizarMenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.menu{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color:var(--corBotao);
    border: 1px solid var(--corBotao);
    cursor: pointer;

}
.qntdVida{
  
    background-color: var(--corBotao);
    padding: 30px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 30px;
}

.button-link {
  
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color:var(--corBotao);
    border: 1px solid var(--corBotao);
    cursor: pointer;
}

.button-link:hover {
    background-color: #adb8c4;
    color: black;
}
.mens{
   
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color:var(--corBotao);
    border: 1px solid var(--corBotao);
    cursor: pointer;
}
