* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(177, 159, 131);
}
h1{
    text-align: center;
    color: rgb(2, 12, 20);
    background-color: blanchedalmond;
}
table{
    padding: 30px;
}
img {
    width: 80px;
}